.logo {
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    text-align: center;
}

.app-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 4rem;
}

.app-desc > div  {
    padding: 12px;
    border: 1px solid var(--accent-color);
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(119, 141, 169, 0.2);
}

.app-desc > div>  p {
    max-width: 700px;
    color: var(--primary-color);
    line-height: 38px;
    font-weight: 500;
}